footer {
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  position: fixed;
  bottom: 0px;
  width: 100%;
}

.box {
  margin: auto 10px;
}

.copy {
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}
.social {
  margin: 0px 4px;
}
